/**************************************************************************	

	Name: Shan Li Nio
    Studentnumber: 6222420
    Final Project in Datavisualisation
    Filename: d3Finalproject.css

    Description: Stylesheet of the d3Finalproject.html document.

***************************************************************************/
/*
Container for all body elements

*/
#main {
	margin: 0 auto;	
	max-width: 1400px;
	min-width: 1200px;
}

/*
Header style elements
*/
.titles {
	font-family: 'Habibi', serif;
	color: white;
}

#header {
	background-color: #02818a;
	color: white;
	height: 150px;
	padding-top: 20px;
	position: relative;
	text-align: center;
}

h1 {
	font-size: 40px;
}

#headerPic {
	height:150px;
	left: 0px;
	position: absolute;
	top: 0px;
	width:220px;
}

/*
Navigation bar style elements
*/
#navbar {
	background-color: #7ed0c4;
	list-style-type: none;
	margin-bottom: 0px;
	overflow: hidden;	 	
}

.navigation 
{
  	display: block;
  	float: right;
  	padding: 18px 35px;
	color: #f5f5f5;
  	text-decoration: none;
}

.navigation:hover 
{
  	background-color: #62a79d;
  	color: #f5f5f5;
  	text-decoration: none;
}

/*
Introduction section style elements
*/
#intro {
	min-height: 500px;
	opacity: 0.2;
}

#introText {
	color: black;
	font-size: 20px;
	opacity: 1;
	padding-right: 250px;
	padding-left: 250px;
	position: relative;
	text-align: center;
	bottom: 15em;
}

/*
Chord diagram style elements
*/
#chordtitle {
	height: 30px;
	width: 900px;
	text-align: center;
}

#chord {
	min-height: 500px;
	position: relative;
}

.d3-chord-tip {
	position: absolute;	
	background: rgba(253, 253, 253, 0.8);
	border-color: lightgrey;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
  	color: black;
  	font-size: 12px;
	line-height: 1;
  	padding: 8px;
}

#elements {
	float: right;
	height: 606px;
	opacity: 0.2;
	width: 390px;
}

.nonclickTitles {
	font-size: 12px;
	cursor: pointer;
}

.clickTitles {
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

/*
Selection bar style elements
*/
#selectbar {
	position: absolute;
	right: 100px;
	top: 80px;
}

/*
Radio button style elements
*/
.btn-group {
	bottom: 10px;
	position: absolute;
	right: 370px;
}

.btn-default {
	border-color: #02818a;
	border-radius: 3px;
}

/*
Information window style elements
*/
#infowindow {
	background-color: rgba(255, 255, 255, 0.7);
	border-color: #02818a;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	display: none;
	height: 200px;
	padding: 30px;
	position: absolute;
	right: 40px;
	bottom: 170px;
	width: 450px;
}

#closeButton {
    display:inline-block;
    position: relative;
    right: 2px;
}

/*
Bars in between webpage sections
*/
.intermediate {
	min-height: 100px;
	background-color: #02818a;
}

#smallIntermediate {
	min-height: 30px;
	background-color: #7ed0c4
}

/*
Antibiotic consumption section style elements
*/
#wrapper {
	min-height: 500px;
	padding-bottom: 100px;
	padding-top: 20px;
	margin-bottom: 20px;
	min-width: 1200px;
}

/*
Datamap style elements
*/
#mapwrapper {
	float: left;
}

#maptitle {
	height: 30px;
	text-align: center;
}

#datamap {
	height:400px;
	position: relative;
	/*width: 750px;*/
}

#legendtitle {
	font-size: 10px;
}

.hoverinfo {
	font-family: "Trebuchet MS";
	font-size: 10px;
	text-align: center;
}

/*
Barchart style elements
*/
#barwrapper {
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	width: 400px;
}

#barchart {
	height: 395px;
	padding-left: 10px;
	width: 400px;
}

.axis path,
.axis line 
{
	fill: none;
	shape-rendering: crispEdges;
  	stroke: #000;
}

.apology {
	font-size: 20px;
}

.d3-tip {
	font-size: 12px
}

.d3-tip {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
  	color: #fff;
  	font-weight: bold;
	line-height: 1;
  	padding: 12px;
}

.d3-tip:after 
{
  	box-sizing: border-box;
  	color: rgba(0, 0, 0, 0.8);
  	content: "\25BC";
  	display: inline;
  	font-size: 10px;
  	line-height: 1;
  	position: absolute;
  	text-align: center;
  	width: 100%;
}

/* Reposition tooltips */
.d3-tip.n:after 
{
	left: 0;
  	margin: -1px 0 0 0;
  	top: 100%;
}

#bartitle {
	height: 30px;
	text-align: center;
}

#references {
	background-color: #02818a;
	min-height: 500px;
	padding-bottom: 50px;
	padding-top: 20px;
}

/*
Reference section style elements
*/
#referenceTitle {
	margin-left: 40px;
}

#referencebox {
	background-color: rgba(255, 255, 255, 0.6);
	border-color: #02818a;
	border-radius: 15px;
	border-style: solid;
	height: 425px;
	margin-left: 20px;
	padding: 25px;
	width: 500px;
}

h4 {
	margin-bottom: 45px;
}

a {
	color: #333;
}

.sources {
	font-size: 15px;
	margin-top: 8px;
}

#bacteria_pictures {
	display: inline-block;
	float: right;
	margin-right: 60px;
	margin-top: 107px;
	width: 680px;
}

.pictures {
	border-radius: 100px;
	height: 200px;
	margin: 10px;
	opacity: 0.9;
	top: 100px;
	width: 200px;
}

.footer {
	color: #02818a;
	float: left;
	margin-top: 20px;
}

