/**************************************************************************	

	Name: Shan Li Nio
    Studentnumber: 6222420
    Final Project in Datavisualisation
    Filename: d3Finalproject.css

    Description: Stylesheet of the d3Finalproject.html document.

***************************************************************************/

#chordwrapper {
	border-color: #02818a;
	border-style: solid;
	height:660px;
	margin: 0 auto;	
	width: 1210px;
}

#chordtitle {
	height: 30px;
	text-align: center;
}

#chord {
	position: relative;
}

#chord_diagram {
	height: 700px;
	margin-bottom: 20px;	
	position: relative;
	width: 700px;
}

.chordLabels {
	color: blue;
	font-size: 15px;
}

.titles {
	font-size: 12px;
}

.clickTitles {
	font-size: 12px;
	font-weight: bold;
}

#navbar {
	position: absolute;
	right: 110px;
	top: 130px;
}

.btn-group {
	bottom: 180px;
	position: absolute;
	right: 65px;
}

.btn-default {
	border-color: #02818a;
	border-radius: 3px;
}

#infowindow {
	border-color: #02818a;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	display: none;
	height: 250px;
	padding: 30px;
	position: absolute;
	right: 60px;
	bottom: 260px;
	width: 300px;
}

/*#closeButton {
    position: absolute;
    top: 0;
    right: 0;
}*/

#closeButton {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#wrapper {
	height:500px;
	margin: 0 auto;
	margin-top: 5px;
	width: 1210px;
}

#mapwrapper {
	border-color: #02818a;
	border-style: solid;
	float: left;
	width: 750px;
}

#maptitle {
	height: 30px;
	text-align: center;
}

#datamap {
	height:400px;
	position: relative;
	width: 750px;
}

#legendtitle {
	font-size: 10px;
}

.hoverinfo {
	font-family: "Trebuchet MS";
	font-size: 10px;
	text-align: center;
}

#barwrapper {
	border-color: #02818a;
	border-style: solid;
	float: right;
	width: 458px;
}

#barchart {
	height: 395px;
	margin-left: 30px;
	padding-left: 10px;
	width: 400px;
}

/* Style barchart axes */
.axis path,
.axis line 
{
	fill: none;
	shape-rendering: crispEdges;
  	stroke: #000;
}

.apology {
	font-size: 20px;
}

.d3-tip {
	font-size: 12px
}

/* Characteristics of tooltip */
.d3-tip {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
  	color: #fff;
  	font-weight: bold;
	line-height: 1;
  	padding: 12px;
}

/* Small triangle extender for the tooltip */
.d3-tip:after 
{
  	box-sizing: border-box;
  	color: rgba(0, 0, 0, 0.8);
  	content: "\25BC";
  	display: inline;
  	font-size: 10px;
  	line-height: 1;
  	position: absolute;
  	text-align: center;
  	width: 100%;
}

/* Reposition tooltips */
.d3-tip.n:after 
{
	left: 0;
  	margin: -1px 0 0 0;
  	top: 100%;
}

#bartitle {
	height: 30px;
	text-align: center;
}

