/**************************************************************************	

	Name: Shan Li Nio
    Studentnumber: 6222420
    Final Project in Datavisualisation
    Filename: d3Finalproject.css

    Description: Stylesheet of the d3Finalproject.html document.

***************************************************************************/

#chordwrapper {
	height:545px;
	width: 1210px;
	margin: 0 auto;
	border-style: solid;
	border-color: #02818a;
}

#chordtitle {
	height: 30px;
	text-align: center;
}

#chord {
	position: relative;
}

#chord_diagram {
	height: 466px;	
	width: 700px;
	margin-top: 5px;
	margin-left: 50px;
	position: relative;
}

.diagram {
	height: 650px;
	width: 600px;
	padding: 500px;
}

.tickLabels {
	font-size: 10px;
}

.titles {
	font-size: 12px;
}

img {
	margin-left: 20px;
}

#navbar {
	position: absolute;
	top: 80px;
	right: 150px;
}

#radio-btn {
	position: absolute;
	bottom: 118px;
	right: 154px;
}

#wrapper {
	height:500px;
	margin: 0 auto;
	width: 1210px;
	margin-top: 5px;
}

#mapwrapper {
	width: 750px;
	border-style: solid;
	border-color: #02818a;
	float: left;
}

#maptitle {
	height: 30px;
	text-align: center;
}

#datamap {
	height:400px;
	width: 750px;
	position: relative;
}

.hoverinfo {
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 10px;
}

#barwrapper {
	width: 458px;
	border-style: solid;
	border-color: #02818a;
	float: right;
}

#barchart {
	height: 395px;
	width: 400px;
	margin-left: 30px;
	padding-left: 10px;
}

/* Style barchart axes */
.axis path,
.axis line 
{
	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
}

.apology {
	font-size: 20px;
}

.d3-tip {
	font-size: 12px
}

/* Characteristics of tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Small triangle extender for the tooltip */
.d3-tip:after 
{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Reposition tooltips */
.d3-tip.n:after 
{
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#bartitle {
	height: 30px;
	text-align: center;
}

